<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<!--  -->
	<ADP_INVOICE expdesc="ADP_INVOICE_HEADER,ADP_INVOICE_LINE" />
	<ADP_INVOICE_HEADER table="INVOICE" cols="LOGICALREF,TRCODE,CLIENTREF,DATE_,DISCPER,GENEXP1,GENEXP2,GENEXP3,GENEXP4,SOURCEINDEX" />
	<ADP_INVOICE_LINE table="STLINE" cols="LINETYPE,STOCKREF,AMOUNT,PRICE,DISCPER,UNIT,UNITREF,UINFO1,UINFO2,SPECODE,LINEEXP" />

	<ADP_ORFICHE expdesc="ADP_ORFICHE_HEADER,ADP_ORFICHE_LINE" />
	<ADP_ORFICHE_HEADER table="INVOICE" cols="LOGICALREF,TRCODE,CLIENTREF,DATE_,DISCPER,GENEXP1,GENEXP2,GENEXP3,GENEXP4,SOURCEINDEX" />
	<ADP_ORFICHE_LINE table="STLINE" cols="LINETYPE,STOCKREF,AMOUNT,PRICE,DISCPER,UNIT,UNITREF,UINFO1,UINFO2,SPECODE,LINEEXP" />

	<ADP_KSLINES expdesc="ADP_KSLINES_HEADER" />
	<ADP_KSLINES_HEADER table="KSLINES" cols="LOGICALREF,TRCODE,CLIENTREF,DATE_,AMOUNT,LINEEXP" />

	<!--  -->
	<MOB_STOCK_ADD_IGNORE_ZERO_B value="true" comment="" />
	
	<MOB_CONTROL_NEGATIVE_STOCK_B value="0" comment="" />
	
	
	<!--  -->
 
	<USER_LANG_MAIN_S value="az" />
	<USER_LANG_ADDITIONAL_S value="az" />
	<APP_SQL_CONST_S value="" comment=""  />
	<APP_UI_DECIMALS_I value="3" comment=""  /> 



	<FORMATSET_MAT_TYPE_SHORT value="1,T_MAT_CG,2,T_MAT_MX,3,T_MAT_DI,4,T_MAT_FA,10,T_MAT_RM,11,T_MAT_SF,12,T_MAT_FG,13,T_MAT_COG,20,T_MAT_MC,21,T_MAT_MT" />
	<FORMATSET_MAT_TYPE value="1,T_MAT_COMMERCIAL_GOOD,2,T_MAT_MIXED_CASE,3,T_MAT_DEPOSITED_ITEM,4,T_MAT_FIXED_ASSET,10,T_MAT_RAW_MATERIAL,11,T_MAT_SEMI_FINISHED_GOOD,12,T_MAT_FINISHED_GOOD,13,T_MAT_CONSUMER_GOODS,20,T_MAT_MATERIAL_CLASS_G,21,T_MAT_MATERIAL_CLASS_T" />
	<FORMATSET_UNITSET_TYPE_SHORT value="1,T_US_LG,2,T_US_AR,3,T_US_VL,4,T_US_WG,5,T_US_UD" />
	<FORMATSET_UNITSET_TYPE value="1,T_US_LENGTH,2,T_US_AREA,3,T_US_VOLUME,4,T_US_WEIGHT,5,T_US_USERDEFINED" />
	<FORMATSET_MAT_TRANS_TYPE value="0,T_MATERIAL,1,T_PROMOTION,2,T_DISCOUNT,3,T_SURCHARGE" />
	<FORMATSET_MAT_TRANS_TYPE_SHORT value="0,M,1,P,2,D,3,S" />
	<FORMATSET_MAT_TRANS_PLACE_SHORT value="0, ,1,G" />
	<FORMATSET_GEN_CANCELLED value="0, ,1,*" />

</settings>